name: nf-jdk build
# read more here
# https://help.github.com/en/articles/workflow-syntax-for-github-actions#on
on:
  push:
    branches:
      - '*'
      - '!refs/tags/.*'
    tags-ignore:
      - '*'  

permissions:
  id-token: write
  contents: read|write

jobs:
  build-backend:
    name: nf-jdk build
    runs-on: ubuntu-latest
    timeout-minutes: 30

    env:
      AWS_DEFAULT_REGION: eu-west-1
      GITHUB_TOKEN: ${{ github.token }}

    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::195996028523:role/Management
        role-session-name: Management
        aws-region: ${{env.AWS_DEFAULT_REGION}}

    - name: Environment
      run: env | sort

    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Build image
      run: make build

    - name: Push images
      if: "contains(github.event.head_commit.message, '[release]')"
      run: ./tag-and-push.sh
