name: nf-jdk build
# read more here
# https://help.github.com/en/articles/workflow-syntax-for-github-actions#on
on:
  push:
    branches:
      - '*'
      - '!refs/tags/.*'
    tags-ignore:
      - '*'  

jobs:
  build-backend:
    name: nf-jdk build
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - name: Environment
      run: env | sort 

    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Build image
      run: make build

    - name: Push images
      run: ./tag-and-push.sh
      env:
        AWS_ACCESS_KEY_ID: ${{secrets.TOWER_CI_AWS_ACCESS}}
        AWS_SECRET_ACCESS_KEY: ${{secrets.TOWER_CI_AWS_SECRET}}
        GITHUB_TOKEN: ${{secrets.GITHUB_ACCESS_TOKEN}}
