name: nf-jdk build
# read more here
# https://help.github.com/en/articles/workflow-syntax-for-github-actions#on
on:
  push:
    branches:
      - '*'
      - '!refs/tags/.*'
    tags-ignore:
      - '*'  

permissions:
  id-token: write
  contents: write

jobs:
  build-backend:
    name: nf-jdk build
    runs-on: ubuntu-latest
    timeout-minutes: 30

    env:
      GITHUB_TOKEN: ${{ github.token }}

    steps:

    - name: Environment
      run: env | sort

    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Docker Login 
      uses: docker/login-action@v2
      with:
        registry: "cr.seqera.io"
        username: ${{ secret.SEQERA_CR_USERNAME }}
        password: ${{ secret.SEQERA_CR_PASSWORD }}

    - name: Build image
      run: make build

    - name: Push images
      if: "contains(github.event.head_commit.message, '[release]')"
      run: ./tag-and-push.sh
