name: nf-jdk nighly build
on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  build-jemalloc:
    uses: ./.github/workflows/build-jemalloc.yml

  build-backend:
    strategy:
      matrix:
        version: ['17-al2023','21-al2023','24-al2023']
 
    name: nf-jdk nightly build
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: build-jemalloc

    env:
      GITHUB_TOKEN: ${{ github.token }}

    steps:

    - name: Environment
      run: env | sort

    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Download jemalloc AMD64 artifacts
      uses: actions/download-artifact@v4
      with:
        name: jemalloc-amd64
        path: jemalloc-binaries/amd64/

    - name: Download jemalloc ARM64 artifacts
      uses: actions/download-artifact@v4
      with:
        name: jemalloc-arm64
        path: jemalloc-binaries/arm64/

    - name: Docker Login 
      uses: docker/login-action@v2
      with:
        registry: "cr.seqera.io"
        username: ${{ secrets.SEQERA_CR_USERNAME }}
        password: ${{ secrets.SEQERA_CR_PASSWORD }}

    - name: Build image
      run: make all version=${{ matrix.version }}

